{% extends "base.html" %}
{% block title %}
    Changing Password
{% endblock %}
{% block head %}
    Complete
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'changePassword.css' %}"/>
{% endblock %}


    {% block content %}
    <div>
        <p>Current Password</p>
        <input type="text"/>
   
        <p>New Password</p>
        <input type="text"/>
        <p>Confirm New Password</p>
        <input type="text"/>
        <button name="Change Password" style="font-size : 20px;">Change Password</button>
    </div>
    {% endblock %}