{% extends "base.html" %}
{% block title %}
    Changing Password
{% endblock %}
{% block head %}
    Complete
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'changePassword.css' %}"/>
{% endblock %}


    {% block content %}
    <div>
        <p>Current Password</p>
        <input type="password"/>
   
        <p>New Password</p>
        <input type="password"/>
        <p>Confirm New Password</p>
        <input type="password"/>
        <button name="Change Password">Change Password</button>
    </div>
    {% endblock %}