{% extends "base.html" %}
{% block title %}
    Changing Password
{% endblock %}
{% block head %}
    Complete
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'changePassword.css' %}"/>
{% endblock %}


    {% block content %}
    <div>
    <form method="post" action="{% url "password" %}">
        {% csrf_token %}
        {{ pass }}
        <p>Current Password</p>
        <input type="password" name="password"/>
        {{ form.password1.errors }}
        <p>New Password</p>
        <input type="password" name="password1"/>
        {% if form.errors %}
            <p>Your two passwords didn't match. Please try again.</p>
        {% endif %}
        {{ form.password2.errors }}
        <p>Confirm New Password</p>
        <input type="password" name="password2"/>
        <button name="Change Password">Change Password</button>
    </form>
    </div>
    {% endblock %}