{% extends "base.html" %}
{% block title %}
    New Event
{% endblock %}
{% block head %}
        New Event
{% endblock %}


{% block content %}

    <div class="form">
        <form method="post" action="."> {% csrf_token %}

        {{ form.title.errors }}
        <input type="text" style="width:90%;" name="title" placeholder="Your Task" value="{{ event.title }}"/>

        <button name="color" style="background-color: #F32D12; border: solid 1px; border-radius:50%; width: 14px; height: 14px"></button></br>
        <label>When is it due? </label>
            <input type="datetime-local" name="due" id="due" value='{{ event.dueTime }}'/> </br>
            {{ form.duration.errors }}
            <label>How long does it take?</label></br>
            <input style="max-width: 32.5%" type='number' value="{{ day }}" placeholder="Days" max="28" min="0" name="Days" />
            <input style="max-width: 32.5%" type='number' value="{{ hour }}" placeholder="Hours" max="24" min="0" name="Hours" />
            <input style="max-width: 32.5%" type='number' value="{{ minute }}" placeholder="Minutes" max="60" min="0" name="Minutes"/></br>
            <button name="Create">Edit</button>
        </form>

    </div>

{% endblock %}

        
