{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block head %}
        Complete
{% endblock %}


    {% block content %}
        <div class="form">
            <h2>Welcome {{ user.username }}</h2>
            <table>
                <colgroup>
                    <col span="3">
                </colgroup>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Duration</td></br>
                {% for item in query_results %}

                    <tr>
                        <td>{{ item.title }}!!!</td>
                        <td name="dueTime">{{ item.dueTime }}</td>
                        <td>{{ item.duration }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div id="x"></div>
            <a href="addNew">New event</a>
            <a href="/logout/">Logout</input>

            <script>
                document.getElementsByName('dueTime').innerHTMl = date.Parse(document.getElementsByName('dueTime').innerHTMl)
            </script>
        </div>
    {% endblock %}
