<!DOCHTML html>
<html>
  <head>
    <title>Settings</title>
  </head>
  <body>
    <div>
        <p>
            Name
        <input type="text"/>
        </p>
        <p>
            <input type="button" onclick="location.href='file:///Users/zhanglanxin/Desktop/CS196/complete/Changing%20password.html';" value="Change Password" />
        </p>
        <p>
            Notify?
            <input type="checkbox" />
        </p>
        <p>
            <button name="Log Out">Log Out</button>
        </p>
    </div>   
        
  </body>
</html>
