body{
    background-image: url("https://images.unsplash.com/photo-1473684909030-c634818c89d1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=9ca6743870d62820dd387c4c92b77f00");
    background-size: cover;
    width: 100%;
    height:100%;
   text-align: center;
}
p{
    margin:auto;
    font-size: 20px;
    font-family: monospace;
    width: auto;
    height: auto;
    color: black;
    margin-top: 0em;
    margin-bottom: 1em;
    
}
input[type=text] {
    width: 60%;
    padding: 10px 1px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
div{
    padding: 100px;
    margin: auto;
    border-radius:10px;
    height: 400px;
    width: 400px;
}
button {
    background-color: gray;
    color: white;
    padding:10px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 65%;
    text-align: center;
    border-radius: 10px;
    
}
