<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="box.css">
    <style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
</style>
        <title>events</title>
    </head>
    <body>
    <div class="boxed">
        <p>
        Task : <span> CS196 HW</span>
        </p>
        <p>
        Due : <span> 11/09/2016 19:00PM</span>
        </div>
         <div class="boxed">
        <p>
        Task : <span> Math241 hw28</span>
        </p>
        <p>
        Due : <span> 11/07/2016 08:00AM</span>
        </div> <div class="boxed">
        <p>
        Task : <span> Phys211 hw20</span>
        </p>
        <p>
        Due : <span> 11/08/2016 08:00AM</span>
        </div>
    </body>
</html>