<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="Changing password.css"/>
        <title>Changing password</title>
    </head>
    <body>
    <div>
        <p>Current Password</p>
            <p><input type="text"></input></p>
   
        <p>New Password</p>
            <p><input type="text"></input></p>
        <p>Confirm New Password</p>
            <p><input type="text"></input></p>
        
        <p>
        <button name="Change Password" style="font-size: 20px; font-family:monospace;">Change Password</button>
        </p>   
        </div> 
    </body>
</html>