<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="Changing password.css"/>
        <title>Changing password</title>
    </head>
    <body>
    <div>
        <p style="font-size: 20px">Current Password</p>
            <p><input type="text"></input></p>
   
        <p style="font-size: 20px">New Password</p>
            <p><input type="text"></input></p>
        <p style="font-size: 20px">
            Confirm New Password
            </p>
            <p><input type="text"></input></p>
        <p>
        <button name="Change Password" style="font-size : 20px;">Change Password</button>
        </p>   
        </div> 
    </body>
</html>