<!DOCHTML html>
<html>
    <head>
        <link rel="stylesheet" href="settings.css">
    <title>Settings</title>
  </head>
  <body>
        <div>
            <h1 style="font-family: Serif; font-size: 30px">
                <strong>Username1</strong>
            </h1>
            <p >
                <input type="text" placeholder="Enter Username" name="uname" required>
            </p>
        <p style="font-size: px">
            <a href="Changing%20password.html"> <button name="Change Password" style="font-size:20px">Change Password</button></a>
        <p style="font-family: Serif; font-size: 28px">
            <strong>Notify?</strong>
            <input type="checkbox"></input>
        </p>
        <p>
            <button name="Log Out" style="font-size:20px">Log Out</button>
        </p>
    </div>
  </body>
</html>
