<!DOCHTML html>
<html>
    <head>
        <link rel="stylesheet" href="../login/static/css/settings.css">
    <title>Settings</title>
  </head>
<body>
    
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <p1 style="font-size:25px;">Username</p1>
            <p>
         
                <input type="text" placeholder="Enter Username" name="uname" required>
            </p>
        <p style="font-size: px">
            <a href="Changing%20password.html"> <button name="Change Password" style="font-size:20px">Change Password</button></a>
            <p1 style="font-size:20px;">Notify?<input type="checkbox"/></p1>
        <p>
            <button name="Log Out" style="font-size:20px">Log Out</button>
        </p>
    </div>
  


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Settings</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>
</html>

