body{
	margin: 0;
	padding: 0;;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.column{
	width: 100%;
	margin: 0 auto;
}

.header {
	height: 35px;
	background-color: gray;
}

.header .logo{
    width: 100%;
	display: inline-block;
	float: left;
	height: 0px;
	font-size: 30px;
}

.header .logo button{
    line-height: 10px;
    float: right;
	padding-top: 11px;
	font: 'Roboto', sans-serif;
}

button{
	background-color: gray;	
	border-color: gray;
	color: black;
	padding-bottom: 11px;
}

.image{
	width: 100%;
    height: 900px;
	background-color: #808080;
	background-image: url('http://67.media.tumblr.com/50af8ed4e4afcc4530c83057db147a91/tumblr_nltc6y6pau1rx5rfmo1_1280.gif');
	background-size: cover;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	align-content: space-between;
	height: 210px;
	color: white;
  	list-style: none;
  	justify-content: space-around;
}

.item-header{
	flex: none;
	align-self: auto;
	line-height: 40px;
	margin: auto;
	font-size: 24px;
 	color: white;
  	text-align: center;
}

.item{
	flex: none;
	align-self: auto;
	line-height: 40px;
	margin: auto;
	font-size: 24px;
 	color: white;
  	text-align: center;
}