<!DOCTYPE html 
<html>

<head>
	<title> Timeline </title>
	<link rel="stylesheet" href="main.css" />
	<link rel="stylesheet" href="timeline_cell.css" />
</head>

<body>
	<header id="header" class="alt">
		<div class="inner">
			<h1>Complete</h1>

		</div>
	</header>

	<div class="parent">
        <ul class="cbp_tmtimeline">
		<li>
			<time class="cbp_tmtime" datetime="2016-11-13 19:00"><span>11/13/2016</span> <span>19:00</span></time>
			<div class="cbp_tmicon cbp_tmicon-phone"></div>
			<div class="cbp_tmlabel">
				<h2>CS196 HW7</h2>
				<p style="font-size:25px;">simple linkedlist</p>
			</div>
		</li>
		<li>
			<time class="cbp_tmtime" datetime="2016-11-08 08:00"><span>11/08/2016</span> <span>08:00</span></time>
			<div class="cbp_tmicon cbp_tmicon-screen"></div>
			<div class="cbp_tmlabel">
				<h2>PHYS211 prelab</h2>
				<p style="font-size:25px;">simple harmonic motion</p>
			</div>
		</li>
	</ul>
	</div>
</body>

</html>