<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="timeline_cell.css">
        <title>timeline</title>
    </head>

    <body>
<ul class="cbp_tmtimeline">
	<li>
		<time class="cbp_tmtime" datetime="2016-11-13 19:00"><span>11/13/2016</span> <span>19:00</span></time>
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div class="cbp_tmlabel">
			<h2>CS196 HW7</h2>
			<p style="font-size:25px;">simple linkedlist</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2016-11-08 08:00"><span>11/08/2016</span> <span>08:00</span></time>
		<div class="cbp_tmicon cbp_tmicon-screen"></div>
		<div class="cbp_tmlabel">
            <h2>PHYS211 prelab</h2>
			<p style="font-size:25px;">simple harmonic motion</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2016-11-19 08:00"><span>11/19/2016</span> <span>08:00</span></time>
		<div class="cbp_tmicon cbp_tmicon-mail"></div>
		<div class="cbp_tmlabel">
			<h2>MATH241 hw32</h2>
			<p style="font-size:25px;">Green Theorem</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2016-11-28 13:00"><span>11/28/2016</span> <span>13:00</span></time>
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div class="cbp_tmlabel">
			<h2>FR101 Composition3</h2>
            <p style="font-size:25px;">clothes,style</p>
		</div>
	</li>
	<li>
		<time class="cbp_tmtime" datetime="2016-11-16 08:00"><span>11/16/2016</span> <span>08:00</span></time>
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<div class="cbp_tmlabel">
			<h2>STAT 400</h2>
			<p style="font-size:25px;">...</p>
		</div>
	</li>
</ul>
    </body>
</html>